







/* ====================================Navbar======================== */

/* logo */


.logo{
  width: 3.125rem;
}

/* navbar */  
nav{
  background-color: gray;
  color: white !important;
}

nav a.nav-link{
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;

  
}

navbar-nav > li > a{
  margin-right: 0.75rem;
 
  
}

.navbar-nav > li > a:focus{
  border-top: 0.1875 rem solid orange;
 
  
}

